node_modules
dist
uploads
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log*
.vercel
vercel.json
api
src/__tests__
src/scripts
.eslintrc.json
.eslintignore
.prettierrc.json
Dockerfile
.dockerignore
